.help{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}
p{
    margin: 3%;
    font-family: Constantia, serif;
    font-size: x-large;
}
h2{
    margin: 1%;
}
.nav-div{
    margin-right: 4%;
}